body{
    background-color: #eeeceb;
}

#section_recette{
    background-color: rgb(255, 255, 255);
    margin: 1vw;
    border-radius: 25px;
    display: flex; 
    flex-wrap:wrap;  
    justify-content: space-evenly;
    /* column-count: 2; */
}

.div-recette{
    background-color: rgb(245, 244, 244);
    width : 30%;
    border-radius: 5%;
    display : flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#titre-recette{
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    margin-bottom: 0;
    text-align: center;
}

#type-recette{
    margin-top : 0;
    font-family: 'Calibri', sans-serif;
}

#description-recette{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-right: 10%;
}

.image-recette{
    height : 350px; 
    width:100%;
    background-size: 130%;
    border-radius: 5%;
    transition: all 0.25s ease-out;
}

.image-recette:hover{
    background-size: 135%;
}